<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwc.framework.modules.dao.BestSignContractMapper">
  <resultMap id="BaseResultMap" type="com.hwc.framework.modules.model.BestSignContract">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="borrow_id" jdbcType="BIGINT" property="borrowId" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="contractId" jdbcType="VARCHAR" property="contractid" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="cat" jdbcType="VARCHAR" property="cat" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="contrace_url" jdbcType="VARCHAR" property="contraceUrl" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
</mapper>