<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwc.framework.modules.dao.ArcCreditMapper" >
  <resultMap id="BaseResultMap" type="com.hwc.framework.modules.model.ArcCredit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="credit_type" property="creditType" jdbcType="BIGINT" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="used" property="used" jdbcType="DECIMAL" />
    <result column="unuse" property="unuse" jdbcType="DECIMAL" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="req_ext" property="reqExt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, total, credit_type, grade, used, unuse, state, req_ext
  </sql>
  <update id="updateAmount" parameterType="java.util.HashMap">
    update arc_credit set
    used = used + #{used,jdbcType=DECIMAL},
    unuse = unuse + #{unuse,jdbcType=DECIMAL}
    where id = #{id ,jdbcType=INTEGER} and used + #{used,jdbcType=DECIMAL} &gt;= 0 and unuse + #{unuse,jdbcType=DECIMAL} &gt;= 0
  </update>
  <select id="getCreditById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from arc_credit
    WHERE user_id=#{user_id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from arc_credit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from arc_credit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hwc.framework.modules.model.ArcCredit" >
    insert into arc_credit (id, user_id, total, 
      credit_type, grade, used, 
      unuse, state, req_ext
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{total,jdbcType=DECIMAL}, 
      #{creditType,jdbcType=BIGINT}, #{grade,jdbcType=VARCHAR}, #{used,jdbcType=DECIMAL}, 
      #{unuse,jdbcType=DECIMAL}, #{state,jdbcType=VARCHAR}, #{reqExt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hwc.framework.modules.model.ArcCredit" >
    insert into arc_credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="creditType != null" >
        credit_type,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="used != null" >
        used,
      </if>
      <if test="unuse != null" >
        unuse,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="reqExt != null" >
        req_ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="creditType != null" >
        #{creditType,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        #{used,jdbcType=DECIMAL},
      </if>
      <if test="unuse != null" >
        #{unuse,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="reqExt != null" >
        #{reqExt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hwc.framework.modules.model.ArcCredit" >
    update arc_credit
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="creditType != null" >
        credit_type = #{creditType,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=DECIMAL},
      </if>
      <if test="unuse != null" >
        unuse = #{unuse,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="reqExt != null" >
        req_ext = #{reqExt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hwc.framework.modules.model.ArcCredit" >
    update arc_credit
    set user_id = #{userId,jdbcType=BIGINT},
      total = #{total,jdbcType=DECIMAL},
      credit_type = #{creditType,jdbcType=BIGINT},
      grade = #{grade,jdbcType=VARCHAR},
      used = #{used,jdbcType=DECIMAL},
      unuse = #{unuse,jdbcType=DECIMAL},
      state = #{state,jdbcType=VARCHAR},
      req_ext = #{reqExt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>